*{
    color: rgb(68, 68, 68);
}

.screen{
    display: flex;
    flex-direction: row;
}

.navbar-div{
    background-color: rgb(37, 16, 80);
    color: white;
    height: 100vh;
    width: 20%;
    padding: 15px;
}

.navbar-div ul{
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
}

.screen .navbar ul a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

li .btn-nav{
    background-color: blueviolet;
    border: none;
}

li .btn-nav:hover{
    background-color: rgb(170, 94, 241);
}

.student-list{
    padding: 15px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.student-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-header div{
    display: flex;
    flex-direction: row;
}

.logo img{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.navbox-div{
    background-color: rgb(37, 16, 80);
    color: white;
    height: 100vh;
    width: auto;
    padding: 15px;
}

li .btnbox-nav{
    background-color: #8a2be2;
    border: none;
}

li .btnbox-nav:hover{
    background-color: rgb(170, 94, 241);
}

