<div class="navbar-div">
        <li><a class="btn btn-primary mt-3 w-100 btn-nav" href="">Dashboard</a></li>
        <li><a class="btn btn-primary mt-3 w-100 btn-nav" href="">Enrollment</a></li>
        <li><a class="btn btn-primary mt-3 w-100 btn-nav" href="">Student List</a></li>
        <li><a class="btn btn-primary mt-3 w-100 btn-nav" href="">Grades</a></li>
        <li><a class="btn btn-primary mt-3 w-100 btn-nav" href="">Settings</a></li>
        <li><a class="btn btn-primary mt-3 w-100 btn-nav" href="">Logout</a></li>
</div>