<div class="student-list">
    <h1>Students</h1>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="section">Section:</label>
        <input type="text" id="section" name="section">
        <button type="submit">Add Student</button>
    </form>
    <hr>
    <h2>List of Students</h2>
    <ul>
        {% for student in students %}
            <li>{{ student[1] }} - {{ student[2] }} 
                <a href="{{ url_for('edit', student_id=student[0]) }}">Edit</a> 
                <a href="{{ url_for('delete', student_id=student[0]) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>